<h1>helloo there</h1>
<%= link_to "Sign out", destroy_user_session_path , :method => :delete %>  	
<%= link_to "back", root_path %>

<%= form_for(@group)  do |f| %>
<table>
<tr>
<td><b>Group Name</b></td>
<td><%= f.text_field :groupname %></td>
</tr>
</table>
<br/>
<div class="actions" >
<%= f.submit :value => "done" %>
</div>
<% end %> 